* {
     box-sizing: border-box;
}
.container {
     display: flex;
     gap: 30px;
     margin: 20px;
     justify-content: center;
     align-items: center;
}
.free {
     border: 1px solid rgb(24, 23, 23);
     width: 245px;
     padding: 6px;
     border-radius: 12px;
     height: 350px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     transition: 0.5s;
}
.free:hover {
     border: 1px solid blue;
     transform: scale(1.1);
}
h4, p, h1 {
     margin: 6px;
     text-align: left;
     text-transform: capitalize;
}
h1 {
     text-transform: uppercase;
}
.trybtn {
     width: 150px;
     text-transform: capitalize;
     padding: 4px;
     color: blue;
     border: 0.8px solid blue;
     background: none;
     border-radius: 4px;
     font-weight: 550;
     cursor: pointer;
     transition: 0.5s;
}
.trybtn:hover {
     background: blue;
     color: white;
}
ol {
     list-style-type: square;
     line-height: 25px;
}
li {
     font-size: 0.8rem;
     text-transform: capitalize;
}
.essentail {
     border: 1px solid rgb(24, 23, 23);
     width: 245px;
     padding: 6px;
     border-radius: 12px;
     height: 350px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     transition: 0.5s;
}
.essentail:hover {
     border: 1px solid blue;
     transform: scale(1.1);
}
span {
     font-size: 1rem;
     text-transform: lowercase;
     font-weight: 600;
}
.h40 {
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: blue;
}

@media screen and (max-width: 678px) {
     .container {
        /* flex-direction: row; */
        flex-direction: column;
        flex-wrap: wrap;
          
     }
     .free{
          width: 90%;
     }
     .essentail{
          width: 90%;
     }
}

